<template>
  <div>
    <h2 class="text-center">Login</h2>
    <hr />
    <b-alert show v-for="err in errors" :key="err.message" dismissible variant="danger">
      {{ err.message }}
    </b-alert>
    <b-alert v-if="$auth.$state.redirect" show>
      You have to login before accessing to
      <strong>{{ $auth.$state.redirect }}</strong>
    </b-alert>
    <b-row align-h="center" class="pt-4">
      <b-col md="4">
        <b-card bg-variant="light">
          <form @keydown.enter="login">
            <b-form-group label="Username">
              <b-input
                ref="username"
                v-model="username"
                placeholder="anything"
              />
            </b-form-group>

            <b-form-group label="Password">
              <b-input v-model="password" type="password" placeholder="123" />
            </b-form-group>

            <div class="text-center">
                <b-button variant="primary" :disabled="isBusy == 1" block @click="login"> 
                  Login
                  <b-spinner small v-if="this.isBusy">
                  </b-spinner>
                </b-button>
            </div>
          </form>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  middleware: ['auth'],
  data() {
    return {
      errors: [],
      isBusy: false,
      username: 'andre',
      password: '123',
      error: null
    }
  },
  computed: {
    strategies: () => [
      // { key: 'auth0', name: 'Auth0', color: '#ec5425' },
      // { key: 'google', name: 'Google', color: '#4284f4' },
      // { key: 'facebook', name: 'Facebook', color: '#3c65c4' },
      // { key: 'github', name: 'GitHub', color: '#202326' }
    ],
    redirect() {
      return (
        this.$route.query.redirect &&
        decodeURIComponent(this.$route.query.redirect)
      )
    },
    isCallback() {
      return Boolean(this.$route.query.callback)
    },
    errorMessage() {
      const { error } = this
      if (!error || typeof error === 'string') {
        return error
      }
      let msg = ''
      if (error.message) {
        msg += error.message
      }
      if (error.errors) {
        msg += `(${JSON.stringify(error.errors)
          .replace(/[{}"[\]]/g, '')
          .replace(/:/g, ': ')
          .replace(/,/g, ' ')})`
      }
      return msg
    }
  },
  methods: {
    toggleBusy() {
        this.isBusy = !this.isBusy
    },

    login() {
      this.toggleBusy()
      this.error = null
      if (!this.username) {
        this.errors.push({type:'danger', message: 'Username cannot be blank'})
        this.toggleBusy()
      } else {
        return this.$auth
          .loginWith('local', {
            data: {
              username: this.username,
              password: this.password
            }
          })
          .catch((err) => {
            console.error(err)
            this.errors.push({type:'danger', message: err.response.data.error.message})
            this.toggleBusy()
          })
        }
    },

  }
})
</script>

<style scoped>
.login-button {
  border: 0;
}
</style>
