<template>
<div>
    <b-alert show variant="success"> This is a public page! </b-alert>
</div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue'
export default Vue.extend({
    name: 'UserDataTable',
    middleware: ['auth'],
    auth: false,
    computed: {
      rows() : number {
        return this.items.length
      }
    },
});
</script>

