<template>
  <div class="text-center">
      <b-alert
        show 
        block
        dismissible
        v-for="err in notifications"
        :key="err.message"
        :variant="err.type"
      >
        {{err.message}}
      </b-alert>
  <b-row>
    <b-alert variant="warning"> This is a secure page! </b-alert>
    <b-form inline class="mb-4">
      <b-btn-group v-if="isBusy == false">
        <b-form-input inline v-model="newBandName" placeholder="Band Name"></b-form-input>
        <b-form-rating inline id="rating-sm-no-border" v-model="newBandRating" no-border size="sm"></b-form-rating>
        <b-button @click="addNewBand(newBandName, newBandRating)" :disabled="!this.newBandName">Add New Band</b-button>
      </b-btn-group>
    </b-form>
  </b-row>
  <b-row>
    <b-col>
        <b-table
          v-if="this.items.length > 0"
          id="my-table"
          :items="items"
          :busy="isBusy"
          :fields="fields"
          :per-page="perPage"
          :current-page="currentPage"
          small
        >
          <template #table-busy>
            <div class="text-center text-info my-2">
              <strong>Fetching your collection...</strong>
              <br>
              <b-spinner class="align-middle"></b-spinner>
            </div>
          </template>
          <template #cell(index)="data">
            {{ data.index + 1 }}
          </template>
          <template #cell(delete)="data">
            <b-button v-bind:disabled="isBusy" variant="danger" @click="deleteBand(data.item.id)">Remove</b-button>
          </template>
          <template #cell(rating)="data">
            <div>
            <b-form-rating
              v-model="data.value"
              show-value
              show-value-max
              precision="0"
              variant="warning"
              @change="updateBand(data.item.id, '', data.value)"
            ></b-form-rating>
          </div>
          </template>
        </b-table>
    </b-col>
  </b-row>
  <b-row v-if="isBusy == false">
    <b-col>
        <p class="mt-3">Current Page: {{ currentPage }}</p>
        <b-pagination
          v-model="currentPage"
          :total-rows="rows"
          :per-page="perPage"
          aria-controls="my-table"
        ></b-pagination>
    </b-col>
  </b-row>

    <hr />
    <!-- <b-btn-group>
      <b-button @click="$auth.fetchUser()"> Fetch User </b-button>
      <b-button @click="refreshTokens"> Refresh Tokens </b-button>
      <b-button @click="$auth.logout()"> Logout </b-button>
    </b-btn-group> -->
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import axios from 'axios'

interface INotification {
  type: string,
  message: string
}
interface IField {
  key: string,
  label: string
}


interface IUserData {
  id: number,
  first_name: string,
  last_name: string
}


export default Vue.extend({
  middleware: ['auth'],
  data() {
    return {
      newBandName: '',
      newBandRating: 3,
      isBusy: false,
      perPage: 5,
      currentPage: 1,
      notifications: [] as INotification[],
      fields: [
        { key: 'name', label: 'Band Name' },
        { key: 'rating', label: 'Rating' },
        'delete'
      ],
      items: [
      ] as IUserData[]
    }
  },
  computed: {
    state() {
      return JSON.stringify(this.$auth.$state, undefined, 2)
    },
    rows() : number {
      return this.items.length
    }
  },
  mounted () {
    this.fetchBands();
  },
  destroyed () {
  },
  methods: {
    refreshTokens() {
      this.$auth.refreshTokens().catch((e) => {
        this.error.push({message: e + ''})
      })
    },
    toggleBusy() {
        this.isBusy = !this.isBusy
    },
    fetchBands() {
      this.toggleBusy();
      axios
        .get('/user/bands')
        .then(response => {
          if (response.data.bands.length > 0) {
            this.items = response.data.bands
          } else {
            this.notifications.push({type: 'info', message: 'No Bands found!'});
          }
          this.toggleBusy();
        }).catch((error) => {
          this.notifications.push({type: 'danger', message: error.response.data.error.message});
          this.toggleBusy();
        });
    },
    addNewBand(newBandName, newBandRating) {
      if (newBandName) {
        this.toggleBusy();
        axios
        .post('/user/bands', {newband: {
          name: newBandName,
          rating: newBandRating
        }})
        .then(response => {
          if (response.status == 200) {
            this.notifications.push({type: 'info', message: 'New band added'});
          }
        }).catch((error) => {
            this.notifications.push({type: 'danger', message: error.response.data.error.message});
        })
          this.fetchBands()
        } else {
          this.notifications.push({type: 'danger', message: 'Band name cannot be blank'});
        }
          this.toggleBusy()
      },
      deleteBand(bandId : number) {
        this.toggleBusy()
        axios
          .delete('/user/bands', {data: {bandId}})
          .then(response => {
            if (response.status == 200) {
              this.notifications.push({type: 'info', message: 'Band delelted'});
              this.fetchBands()
            }
          }).catch((error) => {
            this.notifications.push({type: 'danger', message: error.response.data.error.message});
          })
        this.toggleBusy()
      },
      updateBand(bandId : number, name : string, rating : number) {
        this.toggleBusy()
        axios
          .put('/user/bands', {data: {bandId: bandId, name: name, rating: rating}})
          .then(response => {
            if (response.status == 200) {
              this.notifications.push({type: 'info', message: 'Band updated'});
              this.fetchBands()
            }
          }).catch((error) => {
            this.notifications.push({type: 'danger', message: error.response.data.error.message});
          })
          this.toggleBusy()
      },
      }
    }
)
</script>
